

#header{
    margin-top: -20px;
    background-color: #040404;
    color: #fff;
    margin-bottom: 0;
    padding-bottom: 0px;
    overflow: hidden;

}
h2{
    font-family:'Chau Philomene One', sans-serif;
    font-size: 48px !important;
    color: #040404;
}
.Titulo1{
    font-family:'Chau Philomene One', sans-serif;
    text-align: center;
    margin-top: 80px;
    font-size: 48px;
}
.Titulo2{
    text-align: center;
    color:#37F2C0;
    
}
.Divisor{
    text-align: center;
    font-weight:900;
    font-style: italic;
    font-size: 20px;
    color:#37F2C0;
    letter-spacing: 2px;
    margin-top: 20px;
    
}

.BtnHead{
    text-align: center;
}
.BtnHead2{
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: #37F2C0 ;
    color: #040404;
    border: 0;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    box-shadow: 0px 0px 50px 0px #37F2C0;
    
}

#divisorForma {
    width:0;
    height: 0;
    margin-top: -30px;
    position: relative;
    border-bottom: 30px solid #37F2C0;
    border-right: 98vmax solid transparent;
  }
  #section-1{
      background-color: #fff;
      overflow: hidden;
  }
  #Divisor2{
      color: #54595f;
      font-size: 100%;
      margin-top: 20px;
  }


  .texto-quem-sou{
      margin-top: 30px;
      font-size: 15px;
      line-height: 28px;
      font-weight:lighter;
      font-family: 'Poppins', sans-serif;
      color: #040404;
  }
